footer {
  width: 100%;
  height: 8rem;
  background-color: #f8f9fa;
}

.footer__container {
  max-width: 1440px;
  height: 100%;
}

.footer__container p {
  font-size: 1.5rem;
  color: black;
  text-align: center;
  line-height: 10rem; }