.paleta {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.paleta__title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 5rem;
}

.paleta__container {
  min-height: 100vh;
  width: 100%;
  max-width: 1440px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.paletaPadre {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.paletaHija {
  width: 5rem;
  height: 15rem;
  background-color: blue;
  border-radius: 1rem;
}