<div class="paleta" id="paleta">
  <div class="paleta__title">
    <h2 class="title">PALETA DE COLORES</h2>
    <button class="btn-title">Generar paletas</button>
  </div>

  <div class="paleta__container">
    
      <div class="paletaPadre">
            <div class="paletaHija"></div>
            <div class="paletaHija"></div>
            <div class="paletaHija"></div>
            <div class="paletaHija"></div>
            <div class="paletaHija"></div>
          </div>

          <div class="paletaPadre">
            <div class="paletaHija"></div>
            <div class="paletaHija"></div>
            <div class="paletaHija"></div>
            <div class="paletaHija"></div>
            <div class="paletaHija"></div>
          </div>

          <div class="paletaPadre">
            <div class="paletaHija"></div>
            <div class="paletaHija"></div>
            <div class="paletaHija"></div>
            <div class="paletaHija"></div>
            <div class="paletaHija"></div>
          </div>

          <div class="paletaPadre">
            <div class="paletaHija"></div>
            <div class="paletaHija"></div>
            <div class="paletaHija"></div>
            <div class="paletaHija"></div>
            <div class="paletaHija"></div>
          </div>

          <div class="paletaPadre">
            <div class="paletaHija"></div>
            <div class="paletaHija"></div>
            <div class="paletaHija"></div>
            <div class="paletaHija"></div>
            <div class="paletaHija"></div>
          </div>

          <div class="paletaPadre">
            <div class="paletaHija"></div>
            <div class="paletaHija"></div>
            <div class="paletaHija"></div>
            <div class="paletaHija"></div>
            <div class="paletaHija"></div>
          </div>

          <div class="paletaPadre">
            <div class="paletaHija"></div>
            <div class="paletaHija"></div>
            <div class="paletaHija"></div>
            <div class="paletaHija"></div>
            <div class="paletaHija"></div>
          </div>

          <div class="paletaPadre">
            <div class="paletaHija"></div>
            <div class="paletaHija"></div>
            <div class="paletaHija"></div>
            <div class="paletaHija"></div>
            <div class="paletaHija"></div>
          </div>

          <div class="paletaPadre">
            <div class="paletaHija"></div>
            <div class="paletaHija"></div>
            <div class="paletaHija"></div>
            <div class="paletaHija"></div>
            <div class="paletaHija"></div>
          </div>
    </div>
  </div>
